.container-mic{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.container-mic .close{
     width: 95%;
     height: 30px;
     display: flex;
     justify-content: right;
     align-items: center;
     margin: 0 auto;
     padding: 0 10px;
     z-index: 2;
}

.container-mic
 .close .icone-close{
    font-size: 25px;
    cursor: pointer;
 }

 .row-mic{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }

 .row-mic .col-mic-x{
   width: 20%;
   display: flex;
   justify-content: center;
 }

 .col-mic-x .text-status{
    width: 100%;
    height: auto;
    padding: 20px 0;
 }

 .col-mic-x 
 .text-status h1{
    font-size: 35px;
    color: #8d8a8a;
 }
 
 .col-mic-x 
 .text-status a{
    text-decoration: none;
    color: rgb(0, 102, 255);
    font-size: 18px;
 }

 .col-mic-x
 .circle {
    width: 30%;
    height: 50%;
    border-radius: 50%;
    border: 1px solid #d1cfcf;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .col-mic-x
 .circle 
 .mic-outline{
    font-size: 110px;
    color: #d1cfcf;
    animation: color 2s infinite;
    
 }
 @keyframes color {
    0%{
        color: red;
    }
    50%{
        color: #d1cfcf;
    }
    100%{
        color: red;
    }
 }

 @media screen and (max-width: 900px){
   .row-mic{
     flex-direction: column;
   }

   .col-mic-x {
      width: 100%;
   }
   .col-mic-x 
   .text-status h1{
      width: 100%;
      font-size: 18px;
      
   }

   .col-mic-x
      .circle {
         width: 50%;
         height: 50%;
      }
 
 }