*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}

ul{
    width: 100%;
    height: 50px; 
    display: flex;
    justify-content: end;
    align-items: center; 
    background-color: #fff;
}

ul .link{
 display: flex;
 align-items: center;
 margin: 5px;
}

.link li{
  margin: 10px;
  list-style-type: none;
}

.link li a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;

}
.link li a:hover{
    text-decoration: underline;
}
.option{
    position: relative;
}
.option-circle{
   width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}

.option img{
  height: 20px;
  cursor: pointer;
}

.option-circle:hover{
    background-color: rgb(240, 234, 234);
}

.option-apps{
    width: 300px;
    height: 450px;
    background-color: rgb(202, 223, 230);
    position: absolute;
    top: 70px;
    right: -50px;
    border-radius: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;  
}

.option-itens{
    width: 95%;
    height: 95%;
    background-color: rgb(238, 242, 243);
    border-radius: 25px;
    overflow-y: scroll;
}
.option-itens .icons{
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    margin-top: 20px;
}

.option-itens .icons img{
    height: 40px;
    border-radius: 50%;
    margin: 30px;
}

.option-itens .icons .item-text-icon{
height: 130px;
 flex-direction: column;
 margin-left: 10px;
 border-radius: 40px;
}

.option-itens .icons .item-text-icon:hover{
    background-color: #e2e0e0;
}

.option-itens .icons .item-text-icon p{
 margin-top: -20px;
 text-align: center;
}

.option-legend{
    width: 90px;
    background-color: #000;
    padding: 10px;
    position: absolute;
    left: -30px;
    top: 40px;
    opacity: 0;
    transition: 1.5s;
    z-index: 2;
}
.option:hover .option-legend{
    opacity: 1;
}

.option-legend p {
    text-align: center;
    color: #fff;
}

.auth-circle {
    margin: 20px;
    width: 30px;
    height: 10px;
    background-color: cornflowerblue;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.auth-circle img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
}
.auth-circle:hover{
    box-shadow: 2px 2px 12px -2px #bdb9b9;
}

.auth-legend{
    width: 150px;
    background-color: #000;
    position: absolute;
    top: 40px;
    margin-left: -120px;
    opacity: 0;
    transition: 1.5s;
    z-index: 2;
    padding: 10px 10px;
}

.auth-legend p{
    color: #fff;
}

.auth-legend .user, .auth-legend .email{
    color: #b9b6b6;
}

.auth-circle:hover .auth-legend{
   opacity: 1;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
    margin-top: 30px;
}

.container .group-google{
    width: 70%;
    margin-top: -5%;
    height: auto;
}

.image-google-x{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}
.group-google .image-google-x img{
  width: 40%;
}
.group-input-align{
    width: 100%;
    height: 30%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-google-x{
   width: 65%;
   height:auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   position: relative;
}
.input-google-x .legend_i-x-voz,
.input-google-x .legend_i-x-image{
    width: auto;
    position: absolute;
    border: 1px solid #000;
    z-index: 3;
    padding: 10px 10px;
    top: 50px;
    background-color: #fff;
}

.legend_i-x-voz{
    left: 65%;
    opacity: 0;
}

 .legend_i-x-image{
    left: 70%;
    opacity: 0;
}

.input-google-x .div-mic .mic:hover .legend_i-x-voz {
    opacity: 1;
}

.input-google-x .div-image .image:hover .legend_i-x-image {
   opacity: 1;
  }

  .container-input{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border:  1px solid #e0dede;
    padding: 0 8px;
    box-shadow: -1px 5px 20px -10px #c5c0c0;
  }
  .container-input 
  .input-align{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-input 
  .input-align
   .lupa{
    height: 15px;
  }

  .container-input 
  .input-align
  .input-search{
   width: 100%;
   max-width: 65%;
   padding: 15px 10px;
   outline: none;
   border: 0;
}

.container-input
 .input-align
  .mic{
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.container-input
.input-align
 .image{
    height: 15px;
    margin-left: 15px;
    cursor: pointer;
}


.container-input 
.auto-complete{
    width: 100%;
    display: flex;
    justify-content: left;
    height:auto;  
    
}


.container-input 
.auto-complete ul{
    width: 100%;
    height: auto;
    display: block;  
    padding: 10px 0; 
}

.container-input 
.auto-complete ul li{
      margin-top: 10px;
      list-style-type: none;
      border-left: 3px solid blue;
      padding: 10px 5px;
      display: flex;
      align-items: center;  
}

.container-input 
.auto-complete ul li img{
      height: 15px;
      margin-left: 10px; 
}

.container-input 
.auto-complete ul 
.li-text{
    gap: 10px;
    border: 0;
}
.container-input 
.auto-complete ul 
.li-text:hover{
    background-color: transparent;
}

.container-input .auto-complete ul li:hover{
   background-color: #dddada;
}

.container-input .auto-complete ul li a{
       text-decoration: none;
       color: #000;
       margin-left: 10px;
}

.legend_i-x-2 p{
    text-align: center;
}


.col-google-x{
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-add{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.item-add{
    width: 100px;
    height: auto;
    padding: 10px 10px;
    position: relative;
}

.img-option{
    height: 20px;
    position: absolute;
    left: 85px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 10px 10px;
}

.img-option:hover{
    background-color: #e2dddd;
}

.option-i{
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    left: 95%;
    z-index: 1;
    box-shadow: 5px 5px 10px #b3aeae;
    display: none;
}


.i-atalho-text{
   display: flex;
   margin-top: 20px;
   text-decoration: none;
}

.i-atalho-text a{
  width: 100%;
  text-decoration: none;
  color: #000;
  padding: 5px 0;
  

}
.i-atalho-text a:hover{
    background-color: #c5c0c0;
}


.i-atalho-text p{
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;

}

.item-add:hover{
    background-color: #ebe6e6;
}

.item-add:hover .img-option{
    opacity: 1;
}

.circle-add{
    width: 50px;
    height: 50px;
    background-color: rgb(247, 244, 244);
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle-add img{
   height: 25px;
}
.align-item-x{
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 30px;
}
.add_legend{
    width: 110px;
    height: 20px;
    border: 1px solid #000;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 80%;
    bottom: 0;
    right: 0;
    margin:  auto;
    opacity: 0;
    transition: 1.5s;
    background-color: #fff;
}


.add_legend p{
   text-align: center;
}

.align-item-x:hover .add_legend{
    opacity: 1;
}
.item-text{
    width: 100%;
    margin: 9 auto;

}
.item-text p{
   margin-top: 10px;
   text-align: center;
   color: #333;
}
.chrome{
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 70%;
    margin: auto;
    width: 180px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 2px 12px 5px #dddada;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
}
.chrome p{
    text-align: center;
    color: rgb(25, 125, 218);
    
   
}

.chrome a{
    text-decoration: none;
}

.chrome:hover{
    background-color: rgb(216, 236, 238);
}

.edit-legend{
    position: absolute;
    z-index: 1;
    border: 1px solid #000;
    background-color: #fff;
    top: 60px;
    right: 0;
    padding: 0;
    bottom: 0;
    margin: auto;
    opacity:0;
    transition: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
   
}

.edit-legend p{
    text-align: center;
    color: #000
}

.chrome:hover .edit-legend{
    opacity: 1;
}

.container-modal-add,
.container-modal-update{
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  position: absolute;
  background: 
  linear-gradient(rgba(5, 5, 5, 0.521), rgba(8, 8, 8, 0.11));
  justify-content: center;
  align-items: center;
  display: none;

}

.container-modal-update{
    display: none;
}

.container-modal-add{
    display: none;
}

.modal-add{
   width: 40%;
   height: auto;
   padding: 10px 0;
   background-color: #fff;
   border-radius: 15px;
   z-index: 1;
   padding: 10px 15px;
}
.text-i-x{
    width: 100%;
     padding: 20px 0;
 
}
.text-i-x h3{
     color: #888484;
     font-style: inherit;
     margin-left: 20px;
}

.modal-add form{
    width: 90%;
    height: auto;
    padding: 10px;
    display: block;
    margin:  0 auto;
}
.item-add-align{
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group-input-add{
    width: 100%;
    margin-top: 20px;
}
label{
    color: blue;
    font-size: 12px;
}
.input-modal{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 3px solid blue ;;
    background-color: #f7f2f2;
    transition: all 2s;
    padding: 0 5px;
}


.input-modal:hover{
    border-bottom: 3px solid blue ;
}
.add-button{
    display: flex;
    justify-content: right;
    gap: 20px;
}

 button{
    margin: 10px 0;
    background-color: #f7f2f2;
    outline: none;
    border: none;
    color: #a5a2a2;
    padding: 10px 10px;
    cursor: pointer; 
    
}

@media screen and (max-width: 800px) {
    .group-google .image-google-x img{
        margin-bottom: 10px;
        
      }
    .input-google-x{
        width: 100%; 
     }

     .list-add{
        width: 110%;
        display: flex;
      }
      .modal-add{
        width: 70%;
      }
      .add-button{
        margin-top: 20px;
        flex-direction: column;
    }

     .chrome{
        left: 30%;
        z-index: 2;
        font-size: 12px;
     }

     ::-webkit-input-placeholder{
        font-size: 12px;
     }
     
}
@media screen and (min-width: 380px) and (max-width: 500px){
    .option-apps{
        width: 300px;
        height: 400px;
        right: -40px;
        background-color: red; 
    }
}

@media screen and (max-width: 380px) {
    ::-webkit-input-placeholder{
        font-size: 10px;
     }
     
}

@media screen and (min-width:1000px ){
    .option-apps{
        width: 390px;
        height: 450px;
        top: 70px;
        right: -10px;
    }
}










